<form [formGroup]="kontaktForm" (ngSubmit)="onSubmit()">
  <div class="left">
    <label for="name">Name</label>
    <input id="name" formControlName="name" placeholder="Max Mustermann" />

    <label for="email">Email</label>
    <input id="email" formControlName="email" placeholder="max@gmail.com" />

    <label for="telefon">Telefonnummer</label>
    <input
      id="telefon"
      formControlName="telefon"
      placeholder="+43 123 456789"
    />

    <label for="art">Art der Reservierung</label>
    <select id="art" formControlName="art">
      <option value="">Bitte wählen</option>
      <option value="Taxi">Taxi</option>
      <option value="Botenfahrt">Botenfahrt</option>
      <option value="Botenfahrt">VIP-Fahrt</option>
    </select>

    <label for="start">Abholadresse</label>
    <input
      id="start"
      formControlName="start"
      placeholder="z. B. Hauptplatz 1, 8010 Graz"
    />
    <div class="checkbox-group-checkbox">
        <label class="label-checkbox-2" for="anrufBeiAnkunft"
        >
      <input
        type="checkbox"
        id="anrufBeiAnkunft"
        formControlName="anrufBeiAnkunft"
        class="checkbox-2"
      />
      <div class="checkmark"></div>
    Anruf bei Ankunft gewünscht</label
      >
    </div>
  </div>
  <div class="right">
    <label for="ziel">Zieladresse</label>
    <input
      id="ziel"
      formControlName="ziel"
      placeholder="z. B. Bahnhofstraße 10, 8020 Graz"
    />
    <div class="check-container">
      <div class="checkbox-group-checkbox">
        <label class="label-checkbox-3" for="bigbag">
        <input
          type="checkbox"
          id="bigbag"
          formControlName="bigbag"
          class="checkbox-2"
        />
        <div class="checkmark"></div>
        Viele Koffer</label>
      </div>
      <div class="checkbox-group-checkbox">
        <label class="label-checkbox-3" for="bigcar">
        <input
          type="checkbox"
          id="bigcar"
          formControlName="bigcar"
          class="checkbox-2"
        />
        <div class="checkmark"></div>
        Großen Wagen</label>
      </div>
    </div>
    <label for="datum">Datum</label>
    <input id="datum" type="date" formControlName="datum" />

    <label for="uhrzeit">Uhrzeit</label>
    <input id="uhrzeit" type="time" formControlName="uhrzeit" />

    <label for="nachricht">Nachricht</label>
    <textarea
      id="nachricht"
      formControlName="nachricht"
      placeholder="Personen Anzahl, Weitere Infos zur Fahrt, Sonderwünsche …"
    ></textarea>
  </div>
  <button type="submit" [disabled]="kontaktForm.invalid">
    Anfrage absenden
  </button>
</form>
<div class="success-message" *ngIf="successMessageVisible">
  ✅ Vielen Dank für deine Anfrage! Wir melden uns in Kürze.
</div>
