<form [formGroup]="kontaktForm" (ngSubmit)="onSubmit()">
  <div class="left">
    <label for="name">Name</label>
    <input id="name" formControlName="name" placeholder="Max Mustermann" />

    <label for="email">Email</label>
    <input id="email" formControlName="email" placeholder="max@gmail.com" />

    <label for="mobileNumber">Telefonnummer</label>
    <input
      id="mobileNumber"
      formControlName="mobileNumber"
      placeholder="+43 123 456789"
    />

    <label for="art">Art der Reservierung</label>
    <select id="art" formControlName="art">
      <option value="">Bitte wählen</option>
      <option value="Taxi">Taxi</option>
      <option value="Botenfahrt">Botenfahrt</option>
      <option value="Botenfahrt">VIP-Fahrt</option>
    </select>

    <label for="start">Abholadresse</label>
    <input
      id="start"
      formControlName="start"
      placeholder="z. B. Hauptplatz 1, 8010 Graz"
    />

    <!-- Ceckbox 1 -->
    <div class="checkbox-container">
      <label class="checkbox-label" for="customerCall">
        <input
          type="checkbox"
          id="customerCall"
          formControlName="customerCall"
        />
        <div class="checkbox-custom">
          <svg
            class="checkbox-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </div>
        Anruf bei Ankunft
      </label>
    </div>

    <!-- end box 1 -->
  </div>
  <div class="right">
    <label for="ziel">Zieladresse</label>
    <input
      id="ziel"
      formControlName="ziel"
      placeholder="z. B. Bahnhofstraße 10, 8020 Graz"
    />
    <!-- checkbox 2 -->
    <div class="check-container">
      <div class="checkbox-container">
        <label class="checkbox-label" for="largeCar">
          <input
            type="checkbox"
            id="largeCar"
            formControlName="largeCar"
          />
          <div class="checkbox-custom">
            <svg
              class="checkbox-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
          </div>
          Großes Auto
        </label>
      </div>

      <div class="checkbox-container">
        <label class="checkbox-label" for="lotsOfSuitcases">
          <input
            type="checkbox"
            id="lotsOfSuitcases"
            formControlName="lotsOfSuitcases"
          />
          <div class="checkbox-custom">
            <svg
              class="checkbox-icon"
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
          </div>
          Viele Koffer
        </label>
      </div>
    </div>
    <!-- check box 2 ende -->
    <label for="datum">Datum</label>
    <input id="datum" type="date" formControlName="datum" />

    <label for="uhrzeit">Uhrzeit</label>
    <input id="uhrzeit" type="time" formControlName="uhrzeit" />

    <label for="nachricht">Nachricht</label>
    <textarea
      id="nachricht"
      formControlName="nachricht"
      placeholder="Personen Anzahl, Weitere Infos zur Fahrt, Sonderwünsche …"
    ></textarea>
  </div>
  <button type="submit" [disabled]="kontaktForm.invalid">
    Anfrage absenden
  </button>
  <span>Weiter unten stehen die Preise Vielen Dank</span>
</form>
<div class="success-message" *ngIf="successMessageVisible">
  ✅ Vielen Dank für deine Anfrage! Wir melden uns in Kürze.
</div>
