<section class="benefits">
  <div class="benefits__content">
    <div class="benefits__text">
      <div class="benefits__icon">
        <i class="fas fa-taxi"></i>
      </div>
      <h2>Entdecken Sie die Vorteile von<br> Taxi go Graz für Ihre Mobilität</h2>
      <p>
        Unser Taxi-Service ist rund um die Uhr verfügbar, damit Sie jederzeit
        sicher an Ihr Ziel gelangen. Vertrauen Sie auf unsere erfahrenen Fahrer
        und die einfache Online-Buchung für ein stressfreies Erlebnis.
      </p>
    </div>

    <div class="benefits__image">
      <img src="./assets/img/cars-img/taxi-7856666_1280.jpg" alt="Taxi Vorteile Graz" />
    </div>
  </div>
</section>
