<app-navbar></app-navbar>
 <app-mobile-navabr></app-mobile-navabr>
<div class="hero">
  <div class="hero-content">
    <h1>Schnell.<br>Sicher.<br>Pünktlich.</h1>
    <button class="cta-button" href="#contact"><a class="cta-button-link"  href="#contact">Jetzt Fahrt reservieren</a></button>
  </div>
  <div class="hero-image">
    <img src="assets/img/WhatsApp Bild 2025-04-08 um 21.24.34_a05fb6ef_cleanup.jpg" alt="Taxi" />
  </div>
</div>

<div class="contact-teaser">
  <p>Sie benötigen ein Taxi oder Botendienst? Wir sind für Sie da – rund um die Uhr.</p>
</div>

  <app-imagesection id="whyUs"></app-imagesection>
  <app-contact id="contact"></app-contact>
  <app-pricerange id="price"></app-pricerange>
  <app-footer></app-footer>