<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="./assets/img/logo/logo-2-removebg-preview.png" alt="">
    </div>

    <nav class="footer-nav">
      <ul>
        <li><a href="#">Über uns</a></li>
        <li><a href="#">Fahrzeuge</a></li>
        <li><a href="#">Kontaktieren Sie uns</a></li>
        <li><a href="#">Häufige Fragen</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>

    <div class="footer-newsletter">
      <form>
        <input 
          type="email" 
          placeholder="Geben Sie Ihre E-Mail ein" 
          required />
        <button type="submit">Abonnieren</button>
      </form>
      <p>Durch das Abonnieren stimmen Sie unseren <a href="#">Datenschutzrichtlinien</a> zu.</p>
    </div>
  </div>

  <hr />

  <div class="footer-bottom">
    <ul class="footer-links">
      <li><a href="#">Datenschutzrichtlinie</a></li>
      <li><a href="#">Nutzungsbedingungen</a></li>
      <li><a href="#">Cookie-Einstellungen</a></li>
    </ul>
    <p>© 2025 Taxiunternehmen Alle Rechte vorbehalten.</p>
  </div>
</footer>
