<footer class="site-footer">
  <div class="footer-container">
    <!-- Logo & Beschreibung -->
    <div class="footer-column">
      <h3>Go Taxi Graz</h3>
      <p>
        Ihr zuverlässiger Partner für Taxi- und Botendienste – schnell, sicher,
        pünktlich.
      </p>
    </div>

    <!-- Kontakt -->
    <div class="footer-column">
      <h4>Kontakt</h4>
      <p>📍 Hauptstraße 12, 1010 Wien</p>
      <p>📞 <a href="tel:+43123456789">+43 1 234 56 789</a></p>
      <p>
        <!-- ✉️ <a href="mailto:kontakt@partpit.at">kontakt&#64;gotaxigraz.at</a> -->
      </p>
      <a href="./steuer/index.html">Steuer Für WKO</a>
    </div>

    <!-- Navigation -->

  </div>

  <div class="footer-bottom">
    <div class="footer-socials">
      <a href="#"><img src="assets/img/icons/facebook.png" alt="Facebook" /></a>
      <a href="#"
        ><img src="assets/img/icons/instagram.png" alt="Instagram"
      /></a>
      <a href="#"><img src="assets/img/icons/whatsapp.png" alt="WhatsApp" /></a>
    </div>
    <p>&copy; 2025 Go Taxi Graz. Alle Rechte vorbehalten.</p>
    <a
      href="https://www.flaticon.com/free-icons/whatsapp"
      title="whatsapp icons"
      >Whatsapp icons created by Freepik - Flaticon</a
    >
  </div>
</footer>
